#title {
  color: orange;
  margin-left: 825px;
  padding-bottom: 15px;
}
.background {
  background-color: #353535;
}

#image {
  height: 600px;
  width: auto;
  margin-left: 700px;
  border: solid 2px white;
}
#camera_settings {
  color: rgb(136, 136, 136);
  font-size: small;
  font-family: "Cambria", "Cochin", Georgia, Times, "Times New Roman", serif;
  margin-left: 780px;
  margin-bottom: 25px;
  margin-top: 0%;
}
.para {
  font-size: medium;
  color: antiquewhite;
  margin-left: 400px;
  margin-right: 400px;
  word-spacing: 3px;
}
#foot {
  background-color: #c57214;
  border-top: solid white 1px;
  padding: 0px;
  margin: 0px;
}
#foot_p {
  color: white;
  font-size: medium;
  font-weight: 700px;
  padding-bottom: 15px;
  text-align: center;
}
